
.c-1-nm{
    background-color: #5eb104;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.c-2-nm{
    background-color: #bfe763;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.c-3-nm{
    background-color: #c33165;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.c-4-nm{
    background-color: #afc1c4;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}